<div class="grid-container">
  <div class="grid-group">
    <div class="grid-item grid-header">Name</div>
    <div class="grid-item grid-header">Brand</div>
    <div class="grid-item grid-header">Price</div>
    <div class="grid-item grid-header">ABV</div>
    <div class="grid-item grid-header">Pints Left</div>
    <div class="grid-item grid-header">Options</div>
  </div>
  <div class="grid-group" *ngFor="let keg of kegList">
    <div class="grid-item">{{ keg.name }}</div>
    <div class="grid-item">{{ keg.brand }}</div>
    <div class="grid-item">{{ keg.price }}</div>
    <div class="grid-item">{{ keg.abv }}</div>
    <div class="grid-item">{{ keg.qty }}</div>
    <div class="grid-item">
      <button class="btn btn-med btn-default btn-option" (click)="editButtonClicked(keg)">
        <fa name="edit"></fa>
        Edit Keg
      </button>
      <button class="btn btn-med btn-default btn-option" (click)="sellButtonClicked(keg)">
        <fa name="credit-card"></fa>
        Sell Pint
      </button>
    </div>
  </div>
</div>
